body {
    background: #f1f1f1 !important;
    font-family: "Raleway", sans-serif;
}

.logo {
    max-width: 500px;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    width: 220px;
    transition: ease 0.3s;
}

.sidebar:hover {
    width: 220px;
}

.sidebar:hover .sidebar-menu {
    display: inline;
}

.i-search {
    display: none!important;
}

.sidebar-menu #search {
    margin:0 3px 5px 10px;
}

.sidebar-menu #search {
    margin:0 3px 5px 10px;
}

.sidebar-nome, .sidebar-img, .sidebar-menu-ul a i, .sidebar-menu-ul a span {
    position: absolute;
    top: 0;
    left: 18px;
}

.sidebar-img {
    left: 5px;
}

.sidebar-menu-ul a i, .sidebar-menu-ul a span {
    top: 8px;
}

.sidebar-menu-ul a {
    height: 40px;
}

.sidebar-menu-ul .sidebar-menu {
    left: 55px;
    width: 162px;
}

.sidebar-nome {
    left: 90px;
}

.header-mini {
    height: 60px;
    z-index: 1;
    width: 100%;
}

.headerDiv {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
}

.search {
    margin: auto;
    max-width: 500px;
    float: initial;
    padding-left: 15px;
}

.main section, .main footer {
    z-index: 2;
    position: relative;
    float: left;
}

.mini-menu {
    padding: 28px 15px 27px;
    margin-right: 4px !important;
}

.menu {
    float: left;
}

.menu a {
    margin: 0 0 4px 0;
}

.login {
    background-image: url('http://localhost/meumanga/uploads/image/2018/03/one-piece-bless.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.login h2 {
    background: rgba(54, 54, 61, 0.7);
}

.article-header {
    height: 35px;
    margin-top: -35px;
    color: white;
}

.article-image img {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.article-image header {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 5px 0 10px;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.01) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#000000', GradientType=0);
}

.content-top .top-big, .content-top .top-big a {
    height: 190px;
}

.content-top .top-big .top-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.manga-header {
    height: 360px;
    overflow: hidden;
    margin-top: -60px;
}

.manga-background {
    filter:sepia(100%);
    height: auto;
    width: 100%;
    min-width: 600px;
    min-height: 320px;
    position: absolute;
    top: 0;
    left: 0;
}

.manga-content {
    max-width: 1200px;
    width: 100%;
    float: initial;
    margin: auto;
}

.manga-content-card {
    margin-top: -80px;
    padding: 20px;
}

@media (min-width: 992px) {

    .sidebar {
        width: 60px;
    }

    .sidebar-menu {
        display: none;
    }

    .main, .header-mini, .footer, .headerDiv {
        margin-left: 60px;
        width: calc(100% - 60px);
    }

    .search {
        margin-top: 50px;
    }

    .menu {
        float: right;
    }

    .i-search {
        display: block!important;
    }

    .sidebar:hover .i-search {
        display: none!important;
    }

    .header-mini {
        width: calc(100% - 60px);
    }
}